<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/app/View/Authorization/index.css"/>
    <title>Login</title>
</head>
<body>
<div>
    <form method="post" action="/">
        <div>
            <label for="username">Email address / username</label>
            <input type="text" id="username" name="username" placeholder="example@example.com"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="******"/>
        </div>
        <p id="message"><?php if(isset($notification)) { echo $notification; } else echo "" ?></p>
        <button type="submit" id="login" name="login">Login</button>
    </form>
    <form method="get" action="/register">
        <button type="submit" id="register" name="register">Register</button>
    </form>
</div>
</body>
</html>
